OVH_AI_TOKEN=
OVH_AI_BASE_URL=https://oai.endpoints.kepler.ai.cloud.ovh.net/v1
OVH_AI_MODEL=Qwen3-Coder-30B-A3B-Instruct

GITHUB_TOKEN=
GITHUB_REPO=Scarfacemoignon/hackathon_ovh_team7
GITHUB_BASE_BRANCH=main

TARGET_NAMESPACE=dev
MANIFEST_PATH=apps/vulnerable-app/dev/deployment.yaml
